DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=sdebackend

AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5432

POSTS_DB_NAME=posts_db
POSTS_DB_PORT=5433

COMMENTS_DB_NAME=comments_db
COMMENTS_DB_PORT=5434

JWT_SECRET=cloudsek_im_coming_for_you
JWT_EXPIRES_IN=24h

AUTH_SERVICE_URL=http://localhost:3001
POST_SERVICE_URL=http://localhost:3002
COMMENT_SERVICE_URL=http://localhost:3003

API_GATEWAY_PORT=8080

NODE_ENV=development
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100